/* ======= */
/* HEADER  */
/* ======= */

.header-container {
  background-color: var(--black);
  width: 100vw;
  margin: 0 auto;
  box-shadow: 0 1px 3px var(--tone-shadow);
}

.header-box {
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

nav {
  display: none;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    margin: 0 0.6em;
    padding: 0.5em 0.8em;
    font-size: clamp(1.2rem, 4vw, 1.6rem);
  }
}

.profile-img {
  position: relative;
}

.logout-btn {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  background-color: var(--golden);
  color: var(--dark-grey);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-img:hover .logout-btn,
.profile-img:focus-within .logout-btn {
  opacity: 1;
  background-color: var(--dark-grey);
  color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s var(--easing);
}

@media (min-width: 150px) {
  .header-box {
    padding: 0 1em;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 280px) {
  nav ul {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .header-container {
    .header-box {
      height: 70px;
    }
    .logo {
      margin-left: 1.2em;
    }
    .logout-btn,
    .google-button {
      margin-right: 1.2em;
    }
  }
}
