
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.env
.env.local
.env.local.php
.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/db/
/migrations/
/.phpunit.result.cache
/phpunit.xml
/.phpstorm.meta.php
/.idea/
/.vscode/
/.github/
/.project
/.buildpath
.DS_Store
step-by-step-plan.txt
firebase.txt
firebaseAccKey.json
*.db
/public/*
!/public/index.php
node_modules
package-lock.json
composer.lock
composer.phar
symfony.lock
backup/
public/react
oli-readme.md
.env.dev.local
.env
/templates