/* ========== */
/* HOME PAGE  */
/* ========== */

.bg-image {
  // background-image: url("./satellite-earth.jpg");
  height: 50vh;
  min-height: 250px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.bg-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(to bottom, transparent, rgba(164, 195, 178, 1));
}

.hero-section {
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--black);
  text-shadow: 1px 1px 3px var(--white-green);
  font-size: clamp(1rem, 3vw, 1.3rem);
  padding: 0.7em;
  box-shadow: 1px 1px 5px var(--tone-shadow);
}

.hero-section::before {
  border-radius: 5px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-green);
  opacity: 0.4;
}

.hero-section h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 2.2rem;
}

.hero-section p {
  margin-bottom: 1em;
}

.hero-description {
  text-align: left;
  line-height: 1.5;
  width: fit-content;
  margin: 0 auto;
  font-weight: bold;
}

.hero-section button {
  background-color: var(--white-green);
  color: var(--black);
  border: none;
  border-radius: 0.5rem;
  padding: 0.4em 1em;
  font-size: 1.1rem;
  cursor: pointer;
  transition: var(--transition);
}

.hero-section button:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem var(--tone-shadow);
}

@media only screen and (min-width: 505px) {
  .hero-section {
    padding: 1.3em;
  }

  .hero-section h1 {
    font-size: 3rem;
  }

  .hero-section p {
    margin-bottom: 1.5em;
    font-size: 1.4rem;
  }

  .hero-section button {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .bg-image {
    height: calc(100vh - 70px);
  }

  .hero-section {
    font-size: 2rem;
    padding: 4rem;
  }

  .hero-section h1 {
    font-size: 5rem;
  }

  .hero-section p {
    font-size: 1.5rem;
  }
}
