.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;

  .auth-form-inputs {
    input {
      width: 100%;
    }
  }

  .auth-form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.2em 0.1em;
  }
}

.auth-btn {
  padding: 0.1em 0.5em;
}
